.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav.main-navigation ul, nav.main-navigation li{
  display: inline-block;
}

nav.main-navigation li{
  border: 1px solid red;
  padding: 0 10px;
}

nav.main-navigation li.active {
  background: red;
  color: #FFF;
}


span.totalPoints {
  background: rgba(13, 110, 253, .25);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.container.mt-5 {
  width: 1100px;
}

.row {
  display: flex;
}

.col-md-12 {
  width: 99%;
}
.text-center{
  text-align: center;
}
.navbar{
  background: #FFF;
}
html {
  background: #f5fffe !important;
}
div#root {
  height: 100vh;
}
h4.navbar-item.is-bold {
  font-weight: 700;
}
.tab-pane{
  display: none;
}
.is-active .tab-pane{
  display: block;
}
img.avatar-nav {
  width: auto;
  height: 35px;
  margin-top: 4px;
  margin-right: 15px;
}
.no-match-page {
  height: 80vh;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}